# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# Build outputs - extension artifacts
public/*.js
public/*.js.map
public/*.LICENSE.txt

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Bundle analyzer output
stats.json

.yarn
